@model MedVoll.Web.Dados.DadosCadastroMedico

@{
    var especialidades = ViewData["Especialidades"] as List<Especialidade>;
}

<main class="container">
    <section class="card form-card">
        <h2 class="title">Cadastro de médico</h2>

        <form method="post" asp-action="" asp-controller="Medicos">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Nome">Nome:</label>
                <input asp-for="Nome" class="form-control" required />
                <div class="alert alert-danger" asp-validation-for="Nome"></div>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" class="form-control" required />
                <div class="alert alert-danger" asp-validation-for="Email"></div>
            </div>

            <div class="form-group">
                <label asp-for="Telefone">Telefone:</label>
                <input asp-for="Telefone" class="form-control" required />
                <div class="alert alert-danger" asp-validation-for="Telefone"></div>
            </div>

            <div class="form-group">
                <label asp-for="Crm">CRM:</label>
                <input asp-for="Crm" class="form-control" required />
                <div class="alert alert-danger" asp-validation-for="Crm"></div>
            </div>

            <div class="form-group">
                <label asp-for="Especialidade">Especialidade</label>
                <select asp-for="Especialidade" class="form-control" required>
                    <option value="">Selecione uma especialidade</option>
                    @foreach (var especialidade in especialidades)
                    {
                    <option value="@especialidade">
                        @especialidade
                    </option>
                    }
                </select>
                <div class="alert alert-danger" asp-validation-for="Especialidade"></div>
            </div>

            <div class="buttons">
                <input type="submit" class="btn btn-primary btn-with-icon" value="Cadastrar">

                <a href="@Url.Action(" Listagem", "Medicos" )" class="btn btn-secondary">
                    <img src="~/assets/back.png" alt="Voltar" class="btn-icon">Voltar
                </a>
            </div>
        </form>
    </section>
</main>
